<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:object="${country}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <td>Country ID</td>
            <td>Country name</td>
            <td>Country Code</td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${country}">
                <td><span th:text="${c?.getId}"></span></td>
                <td><span th:text="${c?.getCountry_name}"></span></td>
                <td><span th:text="${c?.getCountry_sign}"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>